# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

# Xcode
xcuserdata/

# AppCode
.idea/

# other
build/

# macOS
.DS_Store

# Swift Package Manager
.swiftpm
.build/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM
